body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}
h1 {
    font-weight: 300;
    font-size: 1.5em;
}
h2 {
    font-size: 1.6em;
    font-weight: 700;
    padding-bottom: 20px;
}
h3 {
    font-size: 1.1em;
    font-weight: 700;
    padding-bottom: 5px;
}
section {
    padding: 50px 20px;
}
a {
    text-decoration: none;
    color: black;
}