.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.d-none {
    display: none;
}
.obj-top {
    object-position: top !important;
}
.obj-center {
    object-position: center !important; 
}
.active {
    display: flex;
}
.huile-bg{
    background-image: url("../../img/huile-olive.png");
} 