@import "./main.scss";



main {
    padding-top: 105px;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    background-color: white;
    #call-to-action {
        position: relative;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        figure {
            display: flex;
            flex-basis: 100%;
            padding: 0;
            justify-content: center;
            align-items: center;
        }
        figure > img{  
            opacity: 1;
            margin-top: 70px; 
            width: 100%; 
            max-width: 100%;
            height: 380px;
            object-fit: cover;
                       
          
            z-index: 2;
        }
        figure > div {
            display: flex;
            z-index: 3;
            flex-direction: row;
            justify-content: space-around;
            position: absolute;
            top: 10px;
            height: 140px;
            width: 100%;
            background-color: rgba(250, 250, 246, 0);
            opacity: 1;
            border-radius: 3px;
            padding: 20px;
            border: solid 0px rgba(5, 5, 5, 0.747);
            a {
                opacity: 1;
                display: flex;
                font-size: 27px;
                position: relative;
                top: 265px;
                color: rgb(230, 126, 29);
                border: 5px solid rgba(255, 255, 255, 0.863);
                font-weight: 700;
                height: 70px;
                width: 70px;
                border-radius: 50%;
                align-items: center;
                align-self: flex-end;
                justify-content: center;
                z-index: 1;
                background-color: whitesmoke;
                box-shadow: 1px 30px 40px -7px rgba(95, 83, 42, 0.39);
                transition: background-size 0.4s;
                &:hover {
                    font-size: 30px;
                    color: white;
                    background-color: rgb(230, 126, 29);
                    background-size: 300%;
                    
                    box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.164);
                }
            }
        }
    }
    #engagements {
        margin-top: -55px;
        padding: 20px 35px ;
        padding-top: 80px; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
        z-index: 2;
        padding-bottom: 40px;
        background-color: white;
        background-position: 0%;
         > div {
            display: none;
            flex-direction: row;
            opacity: 1;
            background-color: white;
            row-gap: 30px;
            z-index: 3;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        h2 {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            margin-top: -30px;
            margin-left: 40px;
            padding-bottom: 40px;
            i {
                margin-right: 25px;
                color: green;
                font-size: 30px;
            }
        }
        article {
            position: relative;
            max-width: 350px;
            background-color: #fff;
            display: flex;
            animation-name: slide-top;
            animation-duration: 1s;
            //display: flex;
            flex-direction: column;
            box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.301);
            border-radius: 20px;
            padding: 5px;
            margin-right: 20px;
            p { 
                font-size: 0.8em;
                font-weight: 500;
                color: black;
                display: flex;
                position: absolute;
                background-color: rgb(248, 235, 117);
                padding: 10px;
                z-index: 3;
                top: 40px;
                left: -15px;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                text-align: center;
                align-items: center;                
            }
            figure {
                flex-basis: 90%;

            }
            img {
                width: 100%; 
                height: 50px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                object-fit: cover;
            }
            h3 {
                opacity: 0.9;
                font-weight: 400;
                font-size: 0.7em;
                letter-spacing: -0.5px;
                //font-family: 'Dancing Script', cursive;
                font-family: "Roboto";
                color: rgba(0, 0, 0, 0.671);
                padding: 10px;
                text-align: center;
                text-shadow: 10px 0px 12px rgb(248, 244, 243);
                
            }
        }
    }
    #products {
        position: relative;
        background-color: rgba(235, 231, 217, 0.432);
        display: flex;
        padding: 20px 20px;
        flex-direction: row;
        column-gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        row-gap: 20px;
        h2 {
            display: flex;
            flex-direction: row;
            row-gap: 20px;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 20px;
            i {
                margin-right: 25px;
                color: rgb(221, 136, 9);
                font-size: 19px;
                
                border: solid 2px rgb(221, 136, 9);
                padding: 6px;
                border-radius: 50%;
                background-color: whitesmoke;
            }
        }
        article {
            background-color: rgb(255, 255, 255);
            display: flex;
           max-width: 420px;
            flex-direction: column;
            flex-wrap: wrap;
            box-shadow: 8px 10px 19px -7px rgba(0,0,0,0.4);
            border-radius: 20px;
            height: auto;
            margin: auto;
            background-position: bottom;
            background-size: 50%;
            div {
                display: flex;
                justify-content: space-between;
                align-items: center; 
                .btn-grad {background-image: linear-gradient(to right, #e2be6fa2 0%, #ffd194  51%, #df901a  100%)}
                .btn-grad {
                    display: flex;
                    align-items: center;
                   margin: 10px;
                   padding: 10px 10px;
                   text-align: center;
                   text-transform: uppercase;
                   transition: 0.5s;
                   background-size: 200% auto;
                   color: white;            
                   box-shadow: 0 0 20px #eee;
                   border-radius: 10px;
                   display: block;
                   min-width: 140px;
                   box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.301);
                   i { 
                       margin-top: 5px;
                       margin-right: 10px;
                   }
                 }
       
                 .btn-grad:hover {
                   background-position: right center; /* change the direction of the change here */
                   color: #fff;
                   text-decoration: none;
                 }
            }
            figure {
                flex-basis: 100%;
            }
            img {
                width: 100%;
                height: 125px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                object-fit: cover;
                object-position: bottom;
            }
            h3 {
                opacity: 0.9;
                font-weight: 300; 
                font-size: 1.2em;
                //font-family: 'Dancing Script', cursive;
                font-family: "roboto";
                color: black;
                padding: 15px;
                text-align: start;
                text-shadow: 10px 0px 12px rgb(248, 244, 243);
            }
            p{
                font-weight: 900;
                font-family: 'Dancing Script', cursive;
                padding: 0 0 10px 20px;
                position: relative;
                bottom: 12px;
            }
        }
        h2 {
            flex-basis: 100%;
        }
        
        
    }
    #producteurs {
        display: none;
        padding: 40px 20px 40px 20px;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 30px;
        background-image: url("https://static-cse.canva.com/blob/191851/Carte_du_monde_france_europe-_vierge-image_01.png");
        background-size: 160%;
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        h2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding-bottom: 20px;
            i {
                margin-right: 25px;
                color: red;
                font-size: 30px;
            }
        }
        div {

            display: flex;
            column-gap: 20px;
            font-size: 0.5em;
            border: solid 2px rgb(238, 187, 18);
            border-radius: 50%;
            width: 120px;
            height: 120px;
            justify-content: center;
            align-items: center;
            text-align: center ;
            box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.301);
            figure {
                width: 120px;
                height: 120px;
                img {
                    object-fit: cover;
                    width:120px;
                    height: 120px;
                    border-radius: 50%;
                }
            }
        }
    }
}
@media screen and (min-width: 500px) {
    h1 {
        font-size: 2em; 
    }
    header a > img {
        height: 160px;
    }
    header #icons_bars_menu {
        left: 90px;
    }
    #producteurs {
        background-size: 120%;
        padding: 50px 40px;
        div {
            margin-right: 40px;
        }
    }
    h2 {
        font-size: 2.1em;
    }
    main #producteurs {
        background-size: 120%;
        height: 600px;
        div {
            margin-right: 90px;
        }
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3em;
        padding-top: 0;
    }
    header a > img {
        height: 200px;
    }
    header #icons_bars_menu {
        left: 220px;
        top: 120px;
        cursor: pointer; 
        
    }
    main {
        padding-top: 300px;
        #call-to-action figure div a {
            top: 265px;
        }
        #call-to-action  figure > img {
            height: 900px;
            margin-top: -450px;
        }
    }
    main #engagements {
         article h3 {
            font-size: 0.9em;
        }
        article img {
            height: 100px;
        }
    }
    main #products {
        padding-bottom: 40px;
        h2 {
            font-size: 2.5em;
            i {
                position: relative;
                bottom: 0px;
                font-size: 1.3em;
                padding: 16px;
            }
        }
    }
    main #producteurs{
        background-size: 40%;
        div {
            margin-right: 20px;
            height: 200px;
            width: 200px;
        }
        h2 {
            font-size: 3em;
            i {
                font-size: 1.3em;
            }
        }
    }
    footer {
        padding: 40px;
    }
}
@media screen and (min-width: 1300px) {

    main #call-to-action figure > img {
        height: 900px;
    }
}