/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.d-flex {
  display: flex; }

.f-wrap {
  flex-wrap: wrap; }

/* colors */
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #f3f3f3;
  padding: 0; }

main {
  padding: 20px 0; }

h1 {
  font-weight: 700;
  font-size: 2.5em;
  color: #fffffe;
  font-family: 'Dancing Script', cursive;
  text-align: center; }

h2 {
  font-size: 1.9em;
  font-weight: 900;
  padding-bottom: 20px;
  color: #424141;
  font-family: 'Dancing Script', cursive; }

h3 {
  font-size: 0.8em;
  font-weight: 500;
  padding-bottom: 5px; }

section {
  padding: 50px 0; }

a {
  text-decoration: none;
  color: black; }

footer {
  background-color: #303030; }
  footer ul li {
    padding: 10px 0; }
    footer ul li a > i {
      margin-right: 20px;
      width: 20px; }
  footer a {
    color: white; }
  footer > div {
    padding: 20px;
    color: #fff; }
  footer img {
    height: 20px;
    padding-bottom: 20px; }

@media screen and (min-width: 992px) {
  footer > div {
    max-width: 60%;
    margin: 0 auto; } }

header {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 40px 0 10px 0;
  width: 100%;
  z-index: 100;
  border-bottom: solid 3px rgba(214, 159, 7, 0.747); }
  header a > img {
    height: 120px;
    width: auto; }
  header #top-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 30px;
    width: 100%;
    color: white;
    background-color: rgba(238, 204, 10, 0.795); }
    header #top-info p {
      text-align: center; }
  header #icons-bars-menu {
    position: absolute;
    top: 85px;
    left: 30px;
    font-size: 30px;
    opacity: 0.7; }
  header #menu-toggle {
    display: none; }

main {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  background-color: white; }
  main #call-to-action {
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding: 0; }
    main #call-to-action figure {
      display: flex;
      flex-basis: 100%;
      padding: 0;
      justify-content: center;
      align-items: center; }
    main #call-to-action figure > video {
      width: 100%;
      max-width: 100%;
      height: 400px;
      object-fit: cover;
      z-index: 1;
      border-bottom: solid 3px rgba(214, 159, 7, 0.747); }
    main #call-to-action figure > div {
      display: flex;
      z-index: 3;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 100px;
      height: 200px;
      width: 300px;
      background-color: rgba(250, 250, 246, 0.4);
      border-radius: 20px;
      padding: 20px;
      border: solid 3px rgba(214, 159, 7, 0.747); }
      main #call-to-action figure > div a {
        color: white;
        font-weight: 500;
        padding: 15px 20px;
        background-image: linear-gradient(rgba(230, 202, 45, 0.473), #db6a0d);
        border-radius: 50px;
        box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.4);
        margin: 30px auto;
        transition: all 0.4s; }
        main #call-to-action figure > div a:hover {
          opacity: 0.7;
          box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.4); }
  main #engagements {
    margin-top: 30px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px; }
    main #engagements article {
      display: flex;
      flex-direction: column;
      box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.4);
      border-radius: 20px; }
      main #engagements article figure {
        flex-basis: 90%; }
      main #engagements article img {
        width: 100%;
        height: 130px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover; }
      main #engagements article h3 {
        padding: 15px; }
    main #engagements div {
      display: flex;
      flex-basis: 100%;
      min-height: 120px;
      background-color: yellowgreen;
      opacity: 0.6;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      border-radius: 20px; }
  main #products {
    background-color: rgba(235, 231, 217, 0.432);
    margin-top: 40px;
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px; }
    main #products article {
      background-color: white;
      border: solid 4px white;
      display: flex;
      flex-direction: row;
      box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.4);
      border-radius: 20px; }
      main #products article figure {
        flex-basis: 100%; }
      main #products article img {
        width: 100%;
        height: 180px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        object-fit: cover; }
      main #products article h3 {
        padding: 15px;
        width: 20%; }
    main #products h2 {
      flex-basis: 100%; }
    main #products div {
      display: flex;
      font-size: 0.8em;
      border: solid 2px yellowgreen;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      text-align: center; }
  main #producteurs {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    main #producteurs h2 {
      flex-basis: 100%; }
    main #producteurs div {
      display: flex;
      font-size: 0.5em;
      border: solid 2px yellowgreen;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      text-align: center; }
