/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&family=Urbanist:ital,wght@1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Rampart+One&family=Urbanist:ital,wght@1,100;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.d-flex {
  display: flex; }

.f-wrap {
  flex-wrap: wrap; }

.obj-top {
  object-position: top !important; }

/* colors */
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #f3f3f3;
  padding: 0; }

main {
  padding: 20px 0; }

h1 {
  margin-top: -70px;
  font-weight: 500;
  width: 100%;
  font-size: 1.8em;
  color: black;
  font-family: 'Playfair Display', serif;
  padding: 30px 30px 15px 27px; }

h2 {
  text-shadow: 1px 16px 20px rgba(0, 0, 0, 0.514);
  font-size: 1.6em;
  letter-spacing: -1.6px;
  font-weight: 300;
  padding-bottom: 10px;
  color: #0f0f0f;
  font-family: 'Roboto';
  text-shadow: 1px 30px 30px -7px rgba(95, 93, 93, 0.767);
  padding-left: 4px;
  opacity: 0.8;
  padding-top: 15px; }

h3 {
  font-size: 0.8em;
  font-weight: 500;
  padding-bottom: 5px; }

section {
  padding: 20px 0; }

a {
  text-decoration: none;
  color: black; }

footer {
  background-color: #303030; }
  footer ul li {
    padding: 10px 0; }
    footer ul li a > i {
      margin-right: 20px;
      width: 20px; }
  footer a {
    color: white; }
  footer > div {
    padding: 20px;
    color: #fff; }
  footer img {
    height: 20px;
    padding-bottom: 20px; }

@media screen and (min-width: 992px) {
  footer > div {
    max-width: 60%;
    margin: 0 auto; } }

header {
  background-color: white;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  z-index: 10;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 30px 30px -7px rgba(95, 93, 93, 0.322);
  border-bottom: solid 2px rgba(247, 120, 1, 0.733); }
  header a > img {
    padding-top: 25px;
    height: 140px;
    width: auto; }
  header #top-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 30px;
    width: 100%;
    color: white;
    font-weight: 900;
    box-shadow: 1px 30px 30px -7px rgba(95, 93, 93, 0.432);
    text-shadow: 1px 0px 8px rgba(0, 0, 0, 0.93);
    background-color: #f8eb75;
    opacity: 0.95; }
    header #top-info p {
      font-size: 1em;
      text-align: center;
      font-family: 'Dancing Script', cursive;
      color: black;
      padding: 15px;
      text-align: center;
      text-shadow: 10px 0px 12px #f8f4f3; }
  header #icons-bars-menu {
    position: absolute;
    top: 80px;
    left: 40px;
    font-size: 30px;
    opacity: 0.7;
    text-shadow: 1px 0px 8px rgba(104, 100, 100, 0.514); }
  header #menu-toggle {
    display: none; }

main {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  background-color: white; }
  main #call-to-action {
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding: 0; }
    main #call-to-action figure {
      display: flex;
      flex-basis: 100%;
      padding: 0;
      justify-content: center;
      align-items: center; }
    main #call-to-action figure > iframe {
      opacity: 1;
      margin-top: 70px;
      width: 100%;
      max-width: 100%;
      height: 320px;
      object-fit: cover;
      z-index: 2; }
    main #call-to-action figure > div {
      display: flex;
      z-index: 3;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      top: 10px;
      height: 140px;
      width: 100%;
      background-color: rgba(250, 250, 246, 0);
      opacity: 1;
      border-radius: 3px;
      padding: 20px;
      border: solid 0px rgba(5, 5, 5, 0.747); }
      main #call-to-action figure > div a {
        opacity: 1;
        display: flex;
        font-size: 27px;
        position: relative;
        top: 205px;
        color: #e67e1d;
        border: 5px solid rgba(255, 255, 255, 0.863);
        font-weight: 700;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        align-items: center;
        align-self: flex-end;
        justify-content: center;
        z-index: 1;
        background-color: whitesmoke;
        box-shadow: 1px 30px 40px -7px rgba(95, 83, 42, 0.39);
        transition: background-size 0.4s; }
        main #call-to-action figure > div a:hover {
          font-size: 30px;
          color: white;
          background-color: #e67e1d;
          background-size: 300%;
          box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.164); }
  main #engagements {
    display: flex;
    margin-top: -55px;
    padding: 20px 35px;
    padding-top: 80px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    z-index: 2;
    padding-bottom: 40px;
    background-color: white;
    background-position: 0%; }
    main #engagements h2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 20px; }
      main #engagements h2 i {
        margin-right: 25px;
        color: green;
        font-size: 30px; }
    main #engagements article {
      position: relative;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.301);
      border-radius: 20px;
      padding: 5px; }
      main #engagements article p {
        font-size: 0.8em;
        font-weight: 500;
        color: black;
        display: flex;
        position: absolute;
        background-color: #f8eb75;
        padding: 10px;
        z-index: 3;
        top: 40px;
        left: -15px;
        border-radius: 50%;
        height: 6px;
        width: 6px;
        text-align: center;
        align-items: center; }
      main #engagements article figure {
        flex-basis: 90%; }
      main #engagements article img {
        width: 100%;
        height: 50px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover; }
      main #engagements article h3 {
        opacity: 0.9;
        font-weight: 400;
        font-size: 0.7em;
        letter-spacing: -0.5px;
        font-family: "Roboto";
        color: rgba(0, 0, 0, 0.671);
        padding: 10px;
        text-align: center;
        text-shadow: 10px 0px 12px #f8f4f3; }
    main #engagements div {
      display: flex;
      flex-basis: 100%;
      min-height: 120px;
      background-color: yellowgreen;
      opacity: 0.6;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      border-radius: 20px; }
  main #products {
    background-color: rgba(235, 231, 217, 0.432);
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px; }
    main #products h2 {
      display: flex;
      flex-direction: row;
      row-gap: 20px;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px; }
      main #products h2 i {
        margin-right: 25px;
        color: #dd8809;
        font-size: 24px;
        border: solid 3px #dd8809;
        padding: 15px;
        border-radius: 50%;
        background-color: whitesmoke; }
    main #products article {
      background-color: white;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      height: 180px;
      background-position: bottom;
      background-size: 50%; }
      main #products article figure {
        flex-basis: 100%; }
      main #products article img {
        width: 100%;
        height: 130px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
        object-position: bottom; }
      main #products article h3 {
        opacity: 0.9;
        font-weight: 500;
        font-size: 1em;
        font-family: "roboto";
        color: black;
        padding: 15px;
        text-align: start;
        text-shadow: 10px 0px 12px #f8f4f3; }
    main #products h2 {
      flex-basis: 100%; }
    main #products div {
      display: flex;
      font-size: 0.8em;
      border: solid 2px yellowgreen;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      text-align: center; }
  main #producteurs {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    main #producteurs h2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 100px; }
      main #producteurs h2 i {
        margin-right: 25px;
        color: red;
        font-size: 30px; }
    main #producteurs div {
      display: flex;
      column-gap: 20px;
      font-size: 0.5em;
      border: solid 2px yellowgreen;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      justify-content: center;
      align-items: center;
      text-align: center; }
